@page "/counter"
@using BlazorApp1.Logic;
@inject ICounter counter;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @counter.Count</p>

<button class="btn btn-primary" @onclick="counter.Increment">Click me</button>

@code {
    private int currentCount = 0;

    //private void IncrementCount()
    //{
    //    currentCount++;
    //}

}
