@page "/"
@using BlazorApp1.Logic;
@inject IValues _values;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<h3>@_values.Rand1</h3>
<h3>@_values.Rand2</h3>

@code {
    // without dependency injection
    //private Values _values;

    //protected override void OnInitialized()
    //{
    //    _values = new();
    //}

    // (!) with dependency injection and injection

    // NO CODE REQUIRED
}